body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.add-product {
	border: 1px solid #000;
}

form {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

input {
	display: flex;
	flex-direction: column;
	margin-bottom: 15px;
}
